*{
	padding: 0;
	margin: 0;
	font-family: Cera, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.bg{
	height: 100vh;
	background-image: url("../img/bgimg.png");
  	background-repeat: no-repeat;
  	background-size: cover;
	justify-content: center;
	align-items:center;
	display: flex;	
}
.login{
	display: flex;
	background-color: white;
}
.left-log{
	padding: 50px 80px 60px 40px;
}
.left-log h2{
	padding: 25px 0px;
	color: #474a48;
}
.left-log h4{
	font-weight: 500;
	color: #474a48;
	font-size: 15px;
}
.left-log p{
	font-size: 11px;
	color: #474a48;
	padding-top: 10px;
	padding-bottom: 20px;
}
.right-log{
	padding: 0px 0px 0px 80px;
}
.submit{
	width: 350px;
	background-color: black;
	font-size: 15px;
	color: white;
	padding: 12px;
	font-weight: bold;
	opacity: .3;
	margin-top: 40px;
	cursor: pointer;
}
.mob-input{
	margin-top: 30px;
	width: 320px;
	border: none;
	background-color: #e6f7ea;
	padding: 14px;
	font-size: 16px;
	box-shadow: 0px 2px #bfbdbe; 
}
.mob-input:focus{
	outline: none;
}
a{
	color: #fa6305;
	text-decoration: none;
	font-weight: bold;
	font-size: 15px;
	padding-left: 7px;
}
a:hover{
	color: blue;
}
.left-log .new-ac{
	font-size: 13px;
}
