.prod-body{
	display: flex;
	padding: 25px 40px 25px 40px;
}
.prod-left{
	padding: 20px 25px 0px 45px;
}
.prod-left img{
	padding-top: 10px;
}
.prod-middle{
	padding: 20px 25px 0px 0px;
}
.prod-right{
	padding: 30px 60px 0px 12px;
}
.prod-right h6{
	color: blue;
	font-weight: 300;
}
.prod-right h3{
	padding: 7px 0px 7px 0px;
	font-weight: 100;
	font-size: 22px;
}
.prod-right h4{
	padding: 0px 0px 15px 0px;
	font-weight: 100;
	color: #595858;
	font-size: 15px;
}
.rupe{
	font-size: 22px !important;
	font-weight: 500;
	color: black !important;
	vertical-align: middle;
}
.of{
	color: green;
	font-size: 17px;
	padding-left: 10px;
	font-weight: bold;
	vertical-align: bottom;
}
.mrp, del{
	font-size: 13px;
	padding: 0px 3px 7px 2px;
	color: #595858;
}
.select{
	padding: 20px 0px 20px 0px;
}
.select h3{
	font-size: 19px;
}
.size{
	color: #fc034e;
	font-size: 15px;
	font-weight: bold;
	padding-left: 30px;
}
.size-row{
	display: flex;
	padding-bottom: 7px;
}
.sizebox{
	border: 1px solid #8f8d8e;
	margin-right: 10px;
	padding: 10px 6px;
	font-size: 15px;
}
.btn{
	/*width: 370px;*/
	width: 60%;
	background-color: black;
	font-size: 15px;
	color: white;
	padding: 12px;
	font-weight: bold;
	margin-top: 20px;
}
.select h5{
	color: #525050;
	padding-top: 10px;
}
.select p{
	font-size: 14px;
	color: #5c595a;
	padding-top: 10px;
}
.delivery{
	margin-top: 20px;
	/*width: 400px;*/
	width: 70%;
	border: none;
	background-color: #dfebdf;
	padding: 14px;
	font-size: 16px;
	box-shadow: 0px 2px #bfbdbe; 
	opacity: .7;
}
.delivery:focus{
	outline: none;
}
.extramenu{
	padding: 10px 140px 20px 0px;
	border-bottom: 1px solid #cfcfd1;
}
.extraimg{
	justify-content: space-between;
	display: flex;
	padding: 0px 30px 10px 30px;
}
.extra{
	display: flex;
	font-size: 13px;
	justify-content: space-between;
}
.sublist{
	display: flex;width: 100%;
	align-items: center;
	padding: 15px 0px 20px 0px;
	border-bottom: 1px solid #cfcfd1;
	justify-content: space-between;
}
.description{
	font-size: 14px;
	
	display: flex;
	align-items: center;
}
.description h4{
	padding: 5px 0px 0px 20px;
}
@media only screen and (max-width: 1100px){
	.btn, .delivery, .extramenu{
		width: 90%;
	}
}