.register{
	width: 350px;
	background-color: black;
	font-size: 15px;
	color: white;
	padding: 12px;
	font-weight: bold;
	opacity: .3;
	margin-top: 50px;
	cursor: pointer;
}
.pwd{
	margin-top: 30px;
	padding: 6px;
	font-size: 15px;
	border: none;
	box-shadow: 0px 2px #bfbdbe;
	width: 310px;
}
.pwd:focus{
	outline:none;
	box-shadow: 0px 4px #f7ceb7;
}
@media only screen and (max-width: 1100px){
	.pwd{
		margin-top: 15px;
	}
	.register{
		width: 350px;
		padding: 10px;
	}	
}
@media only screen and (max-width: 500px){
	.pwd{
		margin-top: 15px;
		width: 200px;
	}
	.register{
		width: 200px;
		padding: 10px;
	}	
}
