*{
	margin: 0;
	padding: 0;
}
.container{
	font-family: Cera, Helvetica Neue, Helvetica, Arial, sans-serif;	
}
.topbar{
	position: sticky;
	top: 0;
	z-index: 1;
}
.marq{
	background-color: black;
	font-weight: bold;
	display: flex;
	align-items: center;
}
marquee{
	width: 70%;
	padding: 7px;
	direction: left;
	color: white;
	font-size: 13.5px;
}
.marq a{
	text-decoration: none;
	color: white;
	font-size: 11px;
}
.marq img{
	padding-left: 80px;
}
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;	
	border-bottom: 1px solid #e1e7ed;
	white-space: nowrap;
	background-color: white;
}
.logo{
	padding: 20px 0px 20px 40px;
}
.header a{
	text-decoration: none;
	font-size: 16px;
	color: #545354;
	font-weight: 550;
	padding: 15px;	
}
.header a:hover{
	background-color: #edebe8;
	color: #f57505;
}
.search-input{
	padding: 6px;
	font-size: 15px;
	border: none;
	box-shadow: 0px 3px #bfbdbe;
	width: 220px;
}
.search-input:focus{
	outline:none;
	box-shadow: 0px 4px #f7ceb7;
}
.search-icon{
	position: relative;
	vertical-align: middle;
	right: 30px;
	width: 20px;
	cursor: pointer;
	opacity: .7;
}
.right{
	padding-right: 10px;	
}
.layer-first{
	justify-content: space-between;
	align-items: center;
	display: flex;
	padding: 20px 40px 0px 40px;
}
.label{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 80px 20px 80px;
}
.label h2{
	color: #4d4c4b;
	cursor: pointer;
}
.layer-second{
	display: flex;
	padding: 20px 0px;
	justify-content: center;	
}
.demo{
	width: 100%;
}
.layer-row{
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	padding: 30px 0px;
	background-color: #e6ffff;	
}
.layer-third{
	display: block;
	padding: 20px 0px;
	justify-content: center;	
}
.layer-third h2,h1{
	text-align: center;
	padding: 5px;
}
.layer-four{
	display: flex;
	padding-top: 20px;
	justify-content: center;
}
.layer-four img{
	padding: 0px 7px;
}
.layer-four-label{
	display: flex;
	padding-top: 5px;
	padding-bottom: 50px;
	justify-content: center;
}
.layer-four-label h3{
	padding:0px 100px;
	font-weight: 300;	
}
.layer-five{
	display: flex;
	padding: 20px 0px;
	justify-content: center;
}
.layer-five img{
	padding: 0px 10px;
}
.layer-six{
	display: flex;
	margin-top: 10px;
	padding: 30px 0px;
	justify-content: center;	
}
.layer-six h4{
	text-align: center;
	border: 3px solid #f08bbc;
	padding: 20px;
	color: #014c52;
	background-color: #ebe8ea;
}
.layer-seven{
	display: block;
	margin-top: 20px;
	padding-top: 15px;
	padding-bottom: 30px;	
	padding-left: 50px;
	padding-right: 30px;
	background-color: #e8f5fc;
}
.layer-seven h6{
	padding-top: 20px;
}
.layer-seven p{
	font-size: 12px;
	padding-top:10px;
}
.footer{
	display: flex;
	background-color: #242323;
	color: white;
	cursor: pointer;
}
.footer h5{
	padding: 30px 250px 20px 150px;
}
.footer a{
	text-decoration: none;
	color: white;
}
.footer a:hover{
	color: #fcaccd;
}
.footer img{
	padding: 15px 27px 5px 0px;	
}
.footer-middle{
	background-color: #e3e1e2;
}
.content{
	display: flex;
	justify-content: space-between;
	padding: 30px 100px 30px 100px;
	cursor: pointer;
}
.content h5{
	font-weight: 545;
}
.footer-middle-bottom{
	display: flex;
	justify-content: space-between;
	padding: 40px 100px 40px 100px;
}
.footer-middle-bottom h5{
	font-weight: 545;
	cursor: pointer;
}
.footer-bottom{
	background-color: #fa6498;
	justify-content: center;
}
.footer-bottom h5{
	padding: 14px;
	text-align: center;
	color: white;
}